
*{
  box-sizing: border-box;
  object-fit: fill;
}
html{
  box-sizing: border-box;

}
li{
  list-style: none;
}
a  {
  color:white;
}

/*header*/
.nav{
  display: flex;
  justify-content: space-between;

  width: 90%;
  margin: 22px auto;

}
.nav img{

width: 120px;
}
.nav-link{
  display: flex;
 

}
.nav-link a {
  padding-left: 20px;
  font-weight: 400;
  color: black;
}
.notunderline{
  text-decoration: none; 
 
}
 .underline{
  text-decoration: underline;
}



/*footer*/
.footer{
  display: flex;
 flex-direction: column;
justify-content: center;
align-items: center;
background-color: black;
}
.footer img{
 width: 70px;
  margin: 20px;

}
.footer p {
  color:white;

}
/*titre*/
.titre{
  position: relative;
  width: 90%;
  text-align: center;
 margin-left: auto;
 margin-right: auto;
 
}
.titre img{

  
width: 100%;
  border-radius: 20px;
opacity:  0.6;
  


}
.titre h1{
  position:absolute;
  
left:50%;
top:40%;
transform: translate(-50%,-50%);


  

}
/*posts*/
.posts{
  display: flex;
  flex-wrap: wrap;
  gap:35px;
  background-color: #F6F6F6;
  margin-top: 55px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
 padding: 40px 0;
  width: 90%;
  border-radius: 20px;
}
.post{
  position: relative;
  width: 29%;
}
.post img {
 width: 100%;
  height: 300px;
  border-radius: 10px;
}
.post h2{
  font-size: 16px;
  max-width: 300px;
  position: absolute;
  bottom: 10px;
  left:10px;

}
/*fiche logement*/
.Fichelogement{
 display: flex;
 flex-direction: column;
 margin: 30px 8%;

 align-items: center;


}

.Slide{
  margin: 0 ;
width: 100%;
  position: relative;
 
}
.ArrowRight{
  position :absolute;
  top:50%;
  right:0;
}
.ArrowLeft{
  position :absolute;
  top:50%;
  left:0;
}
.ImageLogement{

height: 415px;
box-sizing: border-box;
width: 100%;
border-radius: 15px;

}
.SlideCounter{
  position:absolute;
  bottom: 20px;
  left:50%;
}
.logement{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap:140px;
}
.logement h2{
  color: #FF6060;
  font-size: 20px;
  font-weight: 400;
}


/*collapse*/
.collapse{
  display: flex;
  justify-content: space-between;
  gap:300px;
  width: 100%;
}



.Btncollapse{

width:48%;
 background-color: #FF6060;
 margin: 10px 0;
 justify-content:space-between ;
height: 40px;
  align-items: center;
  font-weight: 600;
     color: white;
     border-radius: 10px;
     padding: 0 8px;
  }
  .Btncollapse p{
    display: inline;
    padding-right: 70%;
  }
  .listcolapse{
   
    height:100px;
    background-color:#F6F6F673;
    color: black;
    ;
  }
.expandarrow{

width: 10px;
height: 10px;
transition:200ms ;
 rotate: 180deg;
}
.arrowup{
  width: 10px;
  height: 10px;
  
}
/** Rating****/
.Staractive{
  color: #FF6060;
}
.StarInactive{

  

   color:#E3E3E3; 
}
.ratingtag{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*****errorpage*****/
.errorpage{
  color:#FF6060;
  display: flex;
  flex-direction: column;
justify-content:center;
  align-items: center;
 
}
.errorpage h2 {
margin:55px 0;
font-size: 139px;
}
.errorpage p{
  font-size: 28px;
  
}
.errorpage a{
  margin:60px 0;
}
/********tag*****/
.Btntag{
  background-color:#FF6060;
  border-radius: 25px;
  color: white;
  border: none;
  padding: 8px 23px;
  margin-right: 20px;
}
.ratingtag{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}


/******Host************/
.Host{
display: flex;
align-items: center;
color:#FF6060;
gap:8px
}
.Host img{
  border-radius: 50%;
  width: 70px;
}