
*{
  box-sizing: border-box;
  object-fit: fill;
}
#root{
display: flex;
flex-direction: column;
align-items: center;
}
body{
  box-sizing: border-box;
}
html{
  box-sizing: border-box;
  margin: 0 ;

}
li{
  list-style: none;
}
a  {
  color:white;
}

/*header*/
.nav{
  display: flex;
  justify-content: space-between;

  width: 90%;
  margin: 22px auto;
 

}
.nav img{

width: 120px;
}
.nav-link{
  display: flex;
 

}
.nav-link a {
  padding-left: 20px;
  font-weight: 400;
  color: black;
}
.notunderline{
  text-decoration: none; 
 
}
 .underline{
  text-decoration: underline;
}


/*footer*/
.footer{
  display: flex;
 flex-direction: column;
justify-content: center;
align-items: center;
background-color: black;
/* width: 90%;  */
width: 100%;
margin: auto;
}
.footer img{
 width: 70px;
  margin: 20px;

}
.footer p {
  color:white;

}
/*titre*/
.titre{
  position: relative;
  width: 90%;
  height: 223px;
  text-align: center;
 margin-left: auto;
 margin-right: auto;
 
}
.titre img{

  
width: 100%;
  border-radius: 20px;
opacity:  0.6;
  


}
.titre h1{
  position:absolute;
  
left:50%;
top:40%;
transform: translate(-50%,-50%);


  

}
/*posts*/
.posts{
  display: flex;
  flex-wrap: wrap;
  gap:35px;
  background-color: #F6F6F6;
  margin-top: 55px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
 padding: 40px 0;
  width: 90%;
  border-radius: 20px;
}
.post{
  position: relative;
  width: 29%;
}
.post img {
 width: 100%;
  height: 300px;
  border-radius: 10px;
}
.post h2{
  font-size: 16px;
  width: 60%;
  position: absolute;
  bottom: 10px;
  left:10px;

}
/*fiche logement*/
.Fichelogement{
 display: flex;
 flex-direction: column;
 margin: 30px 0;
width: 90%;
 align-items: center;


}

.Slide{
  margin: 0 ;
width: 100%;
  position: relative;
 
}
.ArrowRight{
  position :absolute;
  top:50%;
  right:0;
}
.ArrowLeft{
  position :absolute;
  top:50%;
  left:0;
}
.ImageLogement{

height: 415px;
box-sizing: border-box;
width: 100%;
border-radius: 15px;

}
.SlideCounter{
  position:absolute;
  bottom: 20px;
  left:50%;
  color: white;
}
.logement{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
 
}
.logement h2{
  color: #FF6060;
  font-size: 20px;
  font-weight: 400;
}


/*collapse*/
.collapse{
display: flex;
  justify-content: space-between;
  gap:300px;
  width: 100%;
}
.collapsediv  {
  width: 89%;
}



.Btncollapse{
display: flex;

 background-color: #FF6060;
 margin: 10px 0;
 
 justify-content:space-between ;
height: 40px;
  align-items: center;
  font-weight: 600;
     color: white;
     border-radius: 5px;
     padding: 0 8px;
  }
  
  
  .listcolapse{
   
    height:fit-content;
    background-color:#F6F6F673;
    color: black;
    ;
  }
.expandarrow{

width: 10px;
height: 10px;
transition:200ms ;
 rotate: 180deg;
}
.arrowup{
  width: 10px;
  height: 10px;
  
}
/** Rating****/
.Staractive{
  color: #FF6060;
}
.StarInactive{

  

   color:#E3E3E3; 
}
.ratingtag{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*****errorpage*****/
.errorpage{
  color:#FF6060;
  display: flex;
  flex-direction: column;
justify-content:center;
  align-items: center;
 
}
.errorpage h2 {
margin:55px 0;
font-size: 139px;
}
.errorpage p{
  font-size: 28px;
  
}
.errorpage a{
  margin:60px 0;
}
/********tag*****/
.Btntag{
  background-color:#FF6060;
  border-radius:0.5rem;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 5px;
}
.ratingtag{
 
  margin-bottom: 10px;
}


/******Host************/
.Host{
display: flex;
flex-direction: column;
gap:26px;
align-items:flex-end;
color:#FF6060;

}
.Host img{
  border-radius: 50%;
  width: 70px;
}
.Hostname{
  display: flex;
  gap:3px
}
/*****apropos*******/
.apropos{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgapropos  {
  display: block;
width: 100%;
height: 177px;
 border-radius: 20px;
 object-fit:cover;
margin-left: auto;
margin-right: auto;  

}
.colapseapropos{
  display: flex;
  flex-direction: column;
  align-items: center;
 width:inherit;
 margin-top: 15px;
}
/***reponsive***/
@media (max-width:768px) {
.tag{

}
  .posts{
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: white;
}
.post{
  width: 100%;
}
.footer p{
margin-top:0;
 width: 110px;
 text-align: center;
}
.titre{
  height: 111px;
}
.logement{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.Host{
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  
 
  width: 100%;
}
.star{
  text-align: center;
}
.collapse{
  display: flex;
  flex-direction: column;
gap: 20px;
}
.collapsediv{
  width: 100%;
}
.tag{
  
display: flex;
overflow-x: auto;

}
.imgapropos{
 
  
}


 }